/* CSS Custom Properties Definitions */

:root {
  --maxWidth-none: "none";
  --maxWidth-xs: 20rem;
  --maxWidth-sm: 24rem;
  --maxWidth-md: 28rem;
  --maxWidth-lg: 32rem;
  --maxWidth-xl: 36rem;
  --maxWidth-2xl: 42rem;
  --maxWidth-3xl: 48rem;
  --maxWidth-4xl: 56rem;
  --maxWidth-full: "100%";
  --maxWidth-wrapper: var(--maxWidth-2xl);
  --spacing-px: "1px";
  --spacing-0: 0;
  --spacing-1: 0.25rem;
  --spacing-2: 0.5rem;
  --spacing-3: 0.75rem;
  --spacing-4: 1rem;
  --spacing-5: 1.25rem;
  --spacing-6: 1.5rem;
  --spacing-8: 2rem;
  --spacing-10: 2.5rem;
  --spacing-12: 3rem;
  --spacing-16: 4rem;
  --spacing-20: 5rem;
  --spacing-24: 6rem;
  --spacing-32: 8rem;
  --fontFamily-sans: -apple-system, BlinkMacSystemFont, "Helvetica Neue",
    "Apple SD Gothic Neo", 나눔고딕, "Nanum Gothic", Arial, sans-serif,
    "Apple Color Emoji", "Noto Color Emoji";
  --fontFamily-serif: "Merriweather", "Georgia", Cambria, "Times New Roman",
    Times, serif;
  --fontFamily-code: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
  --font-body: var(--fontFamily-sans);
  --font-heading: var(--fontFamily-sans);
  --fontWeight-normal: 400;
  --fontWeight-medium: 500;
  --fontWeight-semibold: 600;
  --fontWeight-bold: 700;
  --fontWeight-extrabold: 800;
  --fontWeight-black: 900;
  --fontSize-root: 18px;
  --lineHeight-none: 1;
  --lineHeight-tight: 1.1;
  --lineHeight-normal: 1.5;
  --lineHeight-relaxed: 1.625;
  /* 1.200 Minor Third Type Scale */
  --fontSize-0: 0.833rem;
  --fontSize-1: 1rem;
  --fontSize-2: 1.2rem;
  --fontSize-3: 1.44rem;
  --fontSize-4: 1.728rem;
  --fontSize-5: 2.074rem;
  --fontSize-6: 2.488rem;
  --fontSize-7: 2.986rem;
}

/* color */

body.light {
  --color-primary: #0366d6;
  --color-text: #24292e;
  --color-text-light: ##586069;
  --color-heading: #24292e;
  --color-heading-black: #24292e;
  --color-accent: #d1dce5;
  --color-background: #ffffff;
  --color-border-primary: #e1e4e8;
  --color-bg-tertiary: #f6f8fa;
  --color-markdown-blockquote-border: #dfe2e5;
  --color-markdown-code-bg: rgba(27, 31, 35, 0.05);
  --color-profile-color-modes-toggle-moon: #ffdf5d;
  --color-profile-color-modes-toggle-thumb-bg: #2f363d;
  --color-profile-color-modes-toggle-track-bg: #fff;
  --color-profile-color-modes-toggle-track-border: #d1d5da;
}

body.dark {
  --color-primary: #58a6ff;
  --color-text: #c9d1d9;
  --color-text-light: #8b949e;
  --color-heading: #c9d1d9;
  --color-heading-black: #c9d1d9;
  --color-accent: #424242;
  --color-background: #0d1117;
  --color-border-primary: #30363d;
  --color-bg-tertiary: #161b22;
  --color-markdown-blockquote-border: #3b434b;
  --color-markdown-code-bg: rgba(240, 246, 255, 0.15);
  --color-prettylights-syntax-constant: #79c0ff;
  --color-prettylights-syntax-keyword: #ff7b72;
  --color-profile-color-modes-toggle-moon: #f8e3a1;
  --color-profile-color-modes-toggle-thumb-bg: #6e40c9;
  --color-profile-color-modes-toggle-track-bg: #271052;
  --color-profile-color-modes-toggle-track-border: #3c1e70;
}

/* HTML elements */

*,
:after,
:before {
  box-sizing: border-box;
}

html {
  line-height: var(--lineHeight-normal);
  font-size: var(--fontSize-root);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: var(--font-body);
  font-size: var(--fontSize-1);
  color: var(--color-text);
  background-color: var(--color-background);
}

footer {
  padding: var(--spacing-6) var(--spacing-0);
}

hr {
  background: var(--color-border-primary);
  height: 1px;
  border: 0;
}

/* Heading */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
  margin-top: var(--spacing-12);
  margin-bottom: var(--spacing-6);
  line-height: var(--lineHeight-tight);
  letter-spacing: -0.025em;
}

h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--fontWeight-bold);
  color: var(--color-heading);
}

h1 {
  font-weight: var(--fontWeight-black);
  font-size: var(--fontSize-6);
  color: var(--color-heading-black);
}

h2 {
  font-size: var(--fontSize-5);
}

h3 {
  font-size: var(--fontSize-4);
}

h4 {
  font-size: var(--fontSize-3);
}

h5 {
  font-size: var(--fontSize-2);
}

h6 {
  font-size: var(--fontSize-1);
}

h1 > a {
  color: inherit;
  text-decoration: none;
}

h2 > a,
h3 > a,
h4 > a,
h5 > a,
h6 > a {
  text-decoration: none;
  color: inherit;
}

/* Prose */

p {
  line-height: var(--lineHeight-relaxed);
  --baseline-multiplier: 0.179;
  --x-height-multiplier: 0.35;
  margin: var(--spacing-0) var(--spacing-0) var(--spacing-8) var(--spacing-0);
  padding: var(--spacing-0);
}

ul,
ol {
  margin-left: var(--spacing-0);
  margin-right: var(--spacing-0);
  padding: var(--spacing-0);
  margin-bottom: var(--spacing-8);
  list-style-position: outside;
  list-style-image: none;
}

ul li,
ol li {
  padding-left: var(--spacing-0);
  margin-bottom: calc(var(--spacing-8) / 2);
  overflow-wrap: break-word;
}

li > p {
  margin-bottom: calc(var(--spacing-8) / 2);
}

li *:last-child {
  margin-bottom: var(--spacing-0);
}

li > ul {
  margin-left: var(--spacing-8);
  margin-top: calc(var(--spacing-8) / 2);
}

blockquote {
  color: var(--color-text-light);
  padding: var(--spacing-0) var(--spacing-4);
  border-left: var(--spacing-1) solid var(--color-markdown-blockquote-border);
  font-size: var(--fontSize-1);
  margin: var(--spacing-0);
}

blockquote > ul,
blockquote > ol {
  list-style-position: inside;
}

table {
  width: 100%;
  margin-bottom: var(--spacing-8);
  border-collapse: collapse;
  border-spacing: var(--spacing-0);
}

table thead tr th {
  border-bottom: 1px solid var(--color-border-primary);
}

code {
  font-size: var(--fontSize-0);
  padding: var(--spacing-1) var(--spacing-1);
  background-color: var(--color-markdown-code-bg);
  border-radius: 6px;
  font-family: var(--fontFamily-code);
}

/* Link */

a {
  color: var(--color-primary);
  text-decoration: none;
}

a:hover,
a:focus {
  text-decoration: underline;
}

/* Custom classes */

.global-wrapper {
  margin: var(--spacing-0) auto;
  max-width: var(--maxWidth-wrapper);
  padding: var(--spacing-16) var(--spacing-5);
}

.global-wrapper[data-is-root-path="true"] .bio {
  margin-bottom: var(--spacing-20);
}

.global-wrapper > header {
  display: flex;
  padding: var(--spacing-5) 0;
  justify-content: flex-end;
}

.global-header {
  margin-bottom: var(--spacing-12);
}

.global-nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-background);
  height: 65px;
  padding: 0 16px;
  border-bottom: 1px solid var(--color-border-primary);
  z-index: 99999;
  transition: transform 0.3s ease, color 0.3s ease, background-color 0.3s ease,
    border 0.3s ease;
  color: var(--color-text);
}

.global-nav.disable {
  transform: translateY(-100%);
}

.global-nav a {
  color: var(--color-text);
}

.global-nav p {
  margin: 0;
}

.main-heading {
  font-size: var(--fontSize-7);
  margin: 0;
}

.post-list-item {
  border-top: 1px solid var(--color-border-primary);
  margin: 0;
}

.post-list-item article {
  padding: var(--spacing-12) 0;
}

.post-list-item a {
  color: var(--color-text);
}

.post-list-item a .post-list-item p {
  margin-bottom: var(--spacing-0);
}

.post-list-item h2 {
  font-size: var(--fontSize-4);
  color: var(--color-heading);
  margin-bottom: var(--spacing-2);
  margin-top: var(--spacing-0);
}

.post-list-item header {
  margin-bottom: var(--spacing-4);
}

.post-list-item .gatsby-image-wrapper {
  margin-bottom: var(--spacing-5);
}

.header-link-home {
  font-weight: var(--fontWeight-bold);
  font-family: var(--font-heading);
  font-size: var(--fontSize-2);
}

.header-link-home:hover {
  text-decoration: none;
}

.bio {
  display: flex;
  margin-bottom: var(--spacing-16);
}

.bio p {
  margin-bottom: var(--spacing-0);
}

.bio-avatar {
  margin-right: var(--spacing-4);
  margin-bottom: var(--spacing-0);
  min-width: 50px;
  border-radius: 100%;
}

.blog-post header h1 {
  margin: var(--spacing-0) var(--spacing-0) var(--spacing-4) var(--spacing-0);
}

.blog-post header .info-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: var(--spacing-8);
}

.blog-post header p {
  font-size: var(--fontSize-1);
  color: var(--color-text-light);
  font-family: var(--font-heading);
  margin: 0 0 0 var(--spacing-2);
}

.blog-post ul li,
.blog-post ol li {
  list-style: inside;
}

.blog-post-nav ul {
  margin: var(--spacing-0);
}

.gatsby-highlight {
  margin-bottom: var(--spacing-8);
}

.section-wrapper {
  display: flex;
  align-items: flex-start;
  position: relative;
}

.section-wrapper section {
  width: 100%;
}

.section-wrapper section ul li p {
  display: inline;
}

.toc-wrapper {
  position: absolute;
  top: 0;
  right: -13rem;
  height: 100%;
  font-size: var(--fontSize-0);
  max-width: 150px;
}

.toc-wrapper ul li,
.toc-wrapper ol li {
  list-style: none;
}

.toc {
  position: sticky;
  top: 9.2rem;
}

.toc .title {
  margin: 0 0 var(--spacing-1);
  font-weight: var(--fontWeight-bold);
  font-size: var(--fontSize-1);
}

.toc a {
  color: var(--color-text-light);
}

.toc .active {
  color: var(--color-text);
  font-weight: bold;
}

.toc a:hover {
  color: var(--color-primary);
}

.toc ul {
  list-style-type: none;
}

.react-switch-bg div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sponsor-button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: var(--spacing-8) 0;
}

.sponsor-button a {
  display: inline-block;
  color: var(--color-background);
  font-size: var(--fontSize-0);
  font-weight: var(--fontWeight-bold);
  padding: var(--spacing-2);
  border-radius: 5px;
  background-color: var(--color-primary);
  text-decoration: none;
}

pre.grvsc-container {
  font-size: var(--fontSize-0);
  background-color: var(--color-bg-tertiary) !important;
}

pre.grvsc-container code {
  font-family: var(--fontFamily-code);
  background-color: transparent;
  padding: var(--spacing-0);
}

/* Media queries */

@media (max-width: 42rem) {
  blockquote {
    padding: var(--spacing-0) var(--spacing-0) var(--spacing-0) var(--spacing-4);
    margin-left: var(--spacing-0);
  }
  ul,
  ol {
    list-style-position: inside;
  }
}

@media (max-width: 768px) {
  :root {
    --fontSize-root: 16px;
  }
}

@media (max-width: 1200px) {
  .toc-wrapper {
    display: none;
  }
}
